<%= render './users/sidebar' %>
<%= render './ancients/g' %>

<div class="all">
  <div class="total">
    <div>
      articles:
    </div>
    <div class="count">
      <%= Article.where(group_id: [nil, ""]).count %>
    </div>
  </div>
  <div class="articles">
    <% Article.where(group_id: [nil, ""]).each do |article| %>
    <div class="article-container">
         <div class="who-liked">
        <%= check_likes(article) %>
        <%= article.likes.find_each do |like| %>
        <p><i class="fa fa-heart"></i>
          <%= like.user.username %>
        </p>
        <p>&nbsp; liked</p>
        <% end %>
      </div>
      <div class="article-row">
        <div>
          <%= image_tag User.find(article.author_id).image.url(:medium), :class => 'article-icon' %>
        </div>
        <div class="article-second">
          <div class="article-body-height">
            <%= link_to article.body , article_path(article), :class => 'article-body'%>
          </div>
         <div class="hash-tag">
            #<%= article_hash_tag(article) %>
          </div>
        </div>
      </div>
    </div>
    <% end %><br>
  </div>
</div>