<div class="sign-up">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="register">
    <%= link_to '→', 'javascript:history.go(-1);', :class => "arrow" %>
    <h2>LOGIN</h2>
    <div class="actions">
      <%= f.submit "Log in", :class => "next", name:'sign_in' %>
    </div>

  </div>
  <div class="form-field">
    <div class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "field-input", placeholder: 'Username' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", :class => "field-input", placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field-rem">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

  </div><br>

  <% end %>

  <%= render "users/shared/links" %>

</div>