<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="sidebar-content">
    <%= User.where("id =?", current_user.id).find_each do |user| %>
    <%= image_tag user.image.url(:medium), :class => 'sidebar-image' %>
    <h2><%= user.name %><br></h2>
    <h3><%= user.username %><br></h3>
    <% end %>
  </div>
  <div class="side-bar-links">
    <%= User.where("id =?", current_user.id).find_each do |user| %>
    <%= link_to 'Profile', user_path(user.id), :class => 'side-link1' %>
    <% end %>
    <%= link_to 'Feed', articles_path, :class => 'side-link2' %>
    <%= link_to 'External', externals_path, :class => 'side-link2' %>
    <%= link_to 'All groups', groups_path, :class => 'side-link3' %>
  </div>

</div>

<div class="main">
  <button class="openbtn" onclick="openNav()">☰</button>
  <h2>G</h2>
  <i class="fa fa-search"></i>
</div>
<div class="most-recent">
  <div><%= link_to 'Most recent', articles_path, :class => 'most-recent-link' %></div>
  <div><%= link_to 'Most ancient', ancients_path, :class => 'most-recent-link' %></div>
</div>

<div class="all">
  <div class="total">
    <div>
      articles:
    </div>
    <div class="count">
      <%= Article.all.size%>
    </div>

  </div>
  <div class="articles">
    <% @most_recent.each do |article| %>
    <div class="article-container">
      <div class="article-row">
        <div>
          <%= image_tag Group.find(article.group_id).icon.url(:medium), :class => 'article-icon' %>
        </div>
        <div class="article-second">
          <div class="profile-name">
            <h3><%= User.find(article.author_id).name %></h3>
            <h3>@<%= User.find(article.author_id).username %><%= article.created_at.strftime(" • %kh") %></h3>
          </div>
          <div class="article-body-height">
            <%= link_to article.body , article_path(article), :class => 'article-body'%>
          </div>
          <div class="hash-tag">
            <span>#</span><%= link_to Group.find(article.group_id).name, group_path(article.group_id) %>
          </div>
          <div class="like-retweet">
            <button class="d-flex flex-row">
              <i class="fa fa-comment"></i>
              <%= article.comments.count unless article.comments.count.zero? %>
            </button>
            <button><i class="fa fa-retweet"></i></button>
            <button>
              <i class="fa fa-heart"></i>
              <%= article.likes.size unless article.likes.count.zero? %>
            </button>
            <button><i class="fa fa-share-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <% end %><br>
  </div>
  <div class='refresh'>
    <%= button_to "Scan", articles_path, class: "refresh-button", :method => :get %>
  </div>
  <%= link_to "+", new_article_path, class: "new-article" %>
</div>