<%= render './users/sidebar' %>

<div class="main">
  <button class="openbtn" onclick="openNav()">☰</button>
  <h2>G</h2>
  <i class="fa fa-search"></i>
</div>

<div class="article-show">
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
  <h3>Comments</h3>
  <%= render partial: 'articles/comment', collection: @article.comments %>
  <%= button_to 'Like', article_likes_path(@article), method: :post %>
  <%= render partial: 'comments/form' %>

  <%= link_to "Back", articles_path, :class => 'btn' %>
</div>