<%= render './users/sidebar' %>
<%= render './ancients/g' %>

<div class="under-group">
  <h2> Group articles </h2>
  <% group_article.each do |article| %>
  <div class="show-article">
    <div class="show-body">
      <h3><%= article.title %></h3>
      <p><%= article.body %></p>
      <h3>Author: <span><%= article_author(article) %></span></h3>
    </div>
  </div>
  <% end %>
</div>