<div class="outer-div">
  <div class="total">
    <div>
      your articles:
    </div>
    <div class="count">
      <%= article_count %>
    </div>
  </div>
  <div class="articles">
     <% article_order.each do |article| %>
    <div class="article-container">
    <div class="who-liked">
        <p><%= faheart(article) %>
          <%= who_liked(article) %>
        </p>
      </div>
      <div class="article-row">
        <div>
          <%= profile_image(article) %>
        </div>
        <div class="article-second">
          <div class="profile-name">
            <h3><%=  profile_name(article) %></h3>
            <h3>@<%= profile_username(article) %><%= article_created(article) %></h3>
          </div>

          <div class="article-body-height">
            <%= link_to article.body , article_path(article), :class => 'article-body'%>
          </div>
           <div class="hash-tag">
         <p>#<%= article_hash_tag(article) %></p>   
          </div>
          <div class="like-retweet">
            <button class="d-flex flex-row">
              <i class="fa fa-comment"></i>
              <%= article_comment(article)  %>
              <button><i class="fa fa-retweet"></i></button>
            </button>
            <button class='button-like'>
              <i class="fa fa-heart"> </i>&nbsp;<%= article_like(article) %><%= like_btn(article, 'user') %>
            </button>
            <button><i class="fa fa-share-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <% end %><br>
  </div>
  <%= link_to "Add new", new_article_path, class: "new-article" %>
</div>