<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="sidebar-content">
    <%= logged_user.find_each do |user| %>
    <%= user_image(user) %>
    <h2><%= user_name(user) %><br></h2>
    <h3><%= user_username(user)%><br></h3>
    <% end %>
  </div>
  <div class="side-bar-links">
    <%= user_current_user.find_each do |user| %>
    <div class="profile-link">
      <div class="border-i"><i class="fa fa-user"></i></div><%= link_to 'Profile', user_path(user.id), :class => 'side-link1', id: 'side-link1'  %>
    </div>
    <div class="hard-rule"></div>
    <% end %>
    <div class="profile-link">
      <div class="border-i"><i class="fa fa-home"></i></div><%= link_to 'Feed', articles_path, :class => 'side-link2', id: 'side-link2' %>
    </div>
    <div class="hard-rule"></div>
    <div class="profile-link">
      <div class="border-i"><i class="fa fa-users"></i></div><%= link_to 'All groups', groups_path, :class => 'side-link3', id: 'side-link3' %>
    </div>
    <div class="hard-rule"></div>
    <div class="profile-link">
      <div class="border-i"><i class="fa fa-link"></i></div><%= link_to 'External', externals_path, :class => 'side-link2', id: 'side-link4' %>
    </div>
    <div class="profile-link">
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'side-link2', id: 'side-link4' %>
    </div>
  </div>
</div>