<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="sidebar-content">
    <%= image_tag @user.image.url(:medium), :class => 'sidebar-image' %>
    <h2><%= @user.name %><br></h2>
    <h3><%= @user.username %><br></h3>
  </div>
  <div class="side-bar-links">
  <%= link_to 'Profile', user_path, :class => 'side-link1' %>
  <%= link_to 'Feed', articles_path, :class => 'side-link2' %>
  <%= link_to 'External', :class => 'side-link2' %>
  <%= link_to 'All groups', groups_path, :class => 'side-link3' %>
  </div>
</div>

<div class="main">
  <button class="openbtn" onclick="openNav()">☰</button>
  <h2>G</h2>
  <i class="fa fa-search"></i>
</div>

<%= render 'profile' %>