<div class="sign-up">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="register">
    <%= link_to '→', 'javascript:history.go(-1);', :class => "arrow" %>
    <h2>REGISTER</h2>
    <div class="actions">
      <%= f.submit "Next", :class => "next" %>
    </div>
  </div>
  <div class="form-field">
    <label class="btn btn-default btn-change-avatar">
     <%= image_tag("avatar.webp", :class => "avatar") %>Upload picture
      <span style="display:none;">
        <%= f.file_field :image, id: "fileUploader"%>
      </span>
    </label>

    <div class="field">
      <%= f.text_field :name, autofocus: true, :class => "field-input field-input-top", placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.text_field :username, autofocus: true, :class => "field-input", placeholder: 'Username' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "field-input", placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", :class => "field-input", placeholder: 'Password' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "field-input", placeholder: 'Password confirmation' %>
    </div>
  </div>


  <% end %>

  <%= render "users/shared/links" %>

</div>